body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #F4C2C2;
}
.hero {
    background: url('Images/hero-image.jpeg') no-repeat center center/cover;
    height: 100vh;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:relative;
}
.hero h1 {
    font-size: 3rem;
    margin: 0;
    margin-top: 15rem;
}
.hero p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.button {
    background: #008080;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 5px;
}
.section {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #EBF4FA;
    margin: 2rem 0;
}
.features, .specs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.feature, .spec  {
    margin: 1rem;
    flex: 1 1 200px;
}
.specs i {
    margin-right: 0.5rem;
    color: #008080; 
    font-size: 1.2rem; 
}

.feature h3 {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.feature h3 i {
    margin-right: 0.5rem;
    color: #008080; 
}

#gallery video {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
 
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
 
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  footer {
    background-color: #F4C2C2;
    color: #333;
    text-align: center;
    padding: 10px;
}
